:root{
    /* grid */
    --gap: 30px;
    --iternal: 2;
    --column: 3;
    /* color */
    --white-cl: #fff;
    --color-pink: rgb(232, 74, 72);
    --input-cl: rgba(157, 164, 189, 0.4);
    --btn-form-cl: #FF6C00;
    --logo-cl: #6743AC;
    /* BG-color */
    --main-bg-cl: rgb(232, 74, 72);
    --bg-modal: #191C26;
    --menu-bg: rgba(103, 67, 172, 0.2);
    /* Border */
    --border-card: #EEEEEE;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 24px;

    padding-top: 114px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

h3,p{
    margin: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* TOP MENU */

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;

    background-color: var(--menu-bg);
    backdrop-filter: blur(4px);
}

.wrapper-flex{
    display: flex;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 30px;
    line-height: calc(64 / 30);
    text-transform: uppercase;
    
    color: var(--logo-cl);
}

.main-menu{
    display: flex;
    align-items: center;

    margin-left: auto;
}

.menu-item{
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;
    
    color: #000000;
}

.menu-item:not(:last-child){
    margin-right: 55px;
}

.menu-link{
    display: block;

    padding: 43px 0;

    transition: color 250ms linear;
}

.menu-link:hover{
    color: var(--logo-cl);
}

/* СЕТКА */

.grid{
    padding: 30px 0;
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-item{
    /* max-width: 370px; */

    border: 1px solid var(--border-card);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%),
                0px 4px 4px rgb(0 0 0 / 6%),
                1px 4px 6px rgb(0 0 0 / 16%);

    flex-basis: calc((100% - var(--gap) * var(--iternal)) / var(--column));
}

.main-group{
    padding: 30px;
    text-align: center;

    background: #fff;
}

.main-title{
    font-size: 30px;
    font-weight: 700;
    line-height: calc(45 / 30);

    text-transform: uppercase;

    margin-bottom: 50px;
}

.main-text{
    margin-bottom: 50px;
}

.main-link{
    display: inline-block;
    padding: 15px 30px;

    font-size: 18px;
    font-weight: 600;

    text-transform: uppercase;

    background-color: transparent;
    color: var(--logo-cl);
    
    border: 1px solid var(--logo-cl);
    border-radius: 30px;

    transition: background-color 250ms linear,
                border 250ms linear,
                color 250ms linear;
}

.main-link:hover{
    background-color: var(--logo-cl);
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* СЕТКА */

/* MODAL */

.btn-group{
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 50px 0;
}

.btn-title{
    font-size: 30px;
    line-height: calc(40 / 30);
    letter-spacing: 0.3em;

    text-align: center;
    text-transform: uppercase;

    color: #000000;

    margin-bottom: 20px;
}

.anim-arrow{
    margin-bottom: 20px;
}

.btn{
    display: block;
    margin: 0 auto;

    font-size: 18px;
    font-weight: 600;
    line-height: calc(24 / 18);

    text-transform: uppercase;

    padding: 12px 25px;

    color: var(--color-pink);
    background-color: var(--white-cl);

    border: 1px solid var(--color-pink);

    cursor: pointer;

    transition: color 250ms linear,
                background-color 250ms linear,
                border 250ms linear;
}

.btn:hover{
    color: var(--white-cl);
    background-color: var(--color-pink);
    
    border: 1px solid var(--white-cl);
}

/* ANIMETED ARROW */

.anim-arrow{
    margin: 0 auto;
    margin-bottom: 20px;

    fill: #000000;

    animation: slaider-img 2000ms linear infinite;;
}

@keyframes slaider-img {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    25% {
        opacity: 0.5;
        transform: translateY(30px);
    }

    50%{
        opacity: 1;
        transform: rotate(180deg);
    }

    75%{
        opacity: 0.15;
        transform: translateY(-30px) rotate(180deg);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px) rotate(180deg);
    }

    
}

/* MODAL WINDOW */

.blackdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;

    transform: translate(-50%, -50%);

    padding: 30px 50px;

    width: 500px;
    height: 500px;

    background-color: var(--bg-modal);
    border-radius: 5px;
}

.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 2px solid var(--color-pink);

    background-color: transparent;

    cursor: pointer;

    transition: border 250ms linear,
                fill 250ms linear;
}

.icon-close{
    fill: var(--color-pink);
}

.btn-close:hover{
    border: 2px solid black;
    background-color: var(--color-pink);
}

.btn-close:hover .icon-close{
    fill: black;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* FORMA MODAL */

.modal-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

    display: block;
    margin-bottom: 30px;

    text-align: center;
    
    color: var(--white-cl);
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal-label{
    position: relative;
}

.modal-span-textarea,
.modal-label-span{
    position: absolute;
    bottom: 30%;
    left: 10px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: var(--input-cl);

    transition: transform 250ms linear;
}

.input{
    display: block;

    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(157, 164, 189, 0.4);

    background-color: transparent;
    color: var(--white-cl);

    padding: 8px 0 8px 8px;
}

 .textarea{
    display: block;
    height: 76px;

    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(157, 164, 189, 0.4);
    
    background-color: transparent;
    color: var(--white-cl);
    
    padding: 8px;

    resize: none;
 }

 .input,
 .textarea{
    width: 100%;
 }

 .modal-label-textarea{
    position: relative;
 }

 .modal-span-textarea{
    position: absolute;
    top: 10%;
    left: 10px;

    transition: transform 250ms linear,
                color 250ms linear,
                font-size 250ms linear;

 }

 .textarea:focus ~ .modal-span-textarea,
 .input:focus ~ .modal-label-span,
 .input:not(:placeholder-shown) + .modal-label-span,
 .textarea:not(:placeholder-shown) + .modal-span-textarea{
    transform: translateY(-25px);
    color: var(--white-cl);
    font-size: 18px;
}

.btn-send {
    display: block;
    margin: 0 auto;

    padding: 12px 50px;

    border: 1px solid var(--btn-form-cl);
    border-radius: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--white-cl);
    background-color: transparent;

    transition: color 250ms linear,
        border 250ms linear;

    cursor: pointer;
}

.btn-send:hover {
    border: 1px solid var(--white-cl);
    color: var(--btn-form-cl);
}
